body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Fallback, sans-serif;
    font-size: 10px;
}

p {
    padding: 0;
    border: 0;
    margin: 0;
}

div#wrap {
    /*padding: 20px;*/
}

div#editor_wrap {
    min-height:100%;
    width:100%;
    float:left;
}

div#editor_footer {
    background-color: #ffffff;
    margin-top: 10px;
    bottom: 0;
    width: 100%;
    height: 100px;
    float:left;
}


div#logos_zone {
    width: 14.5%;
    margin-right: 0.5%;
    min-height: 733px;
    padding: 0;
    overflow-y: scroll;
    background: white;
    vertical-align: top;
    text-align: center;
    float:left;
}

div#product_wrap {
    padding: 3px;
    height: 100%;
    width: 84%;
    min-width: 600px;
    background: #FFF;
    float:left;
}

div#product_zone {
    background-color: #ffffff;
    width: 70%;
    height: calc(100% - 105px);
}

div#editor_tools {
    background-color: #F2F2F2;
    margin-top: 4px;
    width: 100%;
    min-height: 120px;
    float: left;
}

.product_column {
    float: left;
}

.thumbs_zone {
    width: 7%;
    min-height: 600px;
    background-color: #FFF;
}

div#product_thumbs_zone {
    vertical-align: bottom;
}
div#product_tools {
    min-height: 600px;
    position: relative;
    background-color: #F2F2F2;
    height: 100%;
    width: 23%;
    vertical-align:top;
}

div#canvas_zone {
    height: 600px !important;
    max-height: 600px;
    text-align: center;
}

div#editor_tools_buttons {
    float: left;
}

div#editor_tools_transformOptions {
    float: left;
}

div#editor_tools_fontOptions {
    float: right;
    width: 400px;
}

div#editor_footer_comments {
    
}

div#editor_footer_finish {
    text-align: right;
    padding: 0px 0px 15px;
    margin: 0px 0px 30px;
    border-bottom: 2px solid #E2E2E2;
}

div#editor_tools_fontOptions {
    height: 100%;
}
div#editor_tools_fontOptions {
    height: 100%;
    position: relative;
}
div#div_editor_fontOptions_textArea {
}


#editor_opt_window {
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -170px;
    width: 340px;
    height: 60px;
    background-color: #a6a6a6;
}
#editor_opt_window_content {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    text-align: center;
}

#editor_opt_window_buttons{
    box-sizing: border-box;
    padding:10px;
    text-align: center;
    width: 100%;
    bottom: 0;
}


.thumb {
    width:90%;
    max-height:100%;
    margin: 0;
    padding: 0;
    border: 2px solid #F2F2F2;
    border-radius: 2px;
}
input[type="button"].size1 {
    width: 125px;
}

textArea.textInput {
    resize: none;
    width: 100%;
    height: 20px;
}

.comments {
    resize: none;
    width: 100%;
    height: 80px;
}

label.buttonizer {
    float:left;
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
//border:5px solid #D0D0D0;
    overflow:auto;

}

label.buttonizer span {
    text-align:center;
    font-size: 12px;
    //padding:13px 0px;
    padding: 0;
    display:block;
    height: 30px;
    width: 30px;

}

label.buttonizer input {
    display: none;
}

label.buttonizer input:checked + span {
    border:3px solid black;
}
label.buttonizer input + span {
    border:3px solid grey;
}

.div_colors {
    display: inline-block;
    margin:0;
    border-radius:6px;
    border:1px solid #C3C3C3;
    width: 30px;
    height: 30px;
    margin-right: 4px;
}

.add {}

.remove {}

.color_picker_pos {
    position: absolute;
    top: 50%;
    left: 50%;
}


.border_shaded { 
    box-shadow: 0 0 5px 5px #C3C3C3;
    border-radius: 2px;
    padding: 3px;
}

.product_tools_wrapper { padding: 15px; }

.product_paragraph { margin-bottom: 15px; }

.product_name { 
    margin: 0; 
    font-size: 20px; 
    font-weight: bold; 
}

table.editor_table { 
    border-spacing: 0px; 
    width: 100%; 
    text-transform: uppercase;
}

table.editor_table tbody tr th { 
    vertical-align: middle;
    text-align: left;
    color: #7C7C7C;
}

table.editor_table tbody tr td select { 
    width: 100%; 
    padding:2px 4px;
    background-color: white;
    border: 2px solid #BBB;
    border-radius: 3px;
    text-transform: uppercase;
}

.size2 {
    display: inline-block;
    margin: 0;
    border-radius:4px;
    border: 1px solid #C3C3C3;
    width: 20px;
    height: 20px;   
}

.editor_button {
    background-color: #FFF;
    color: #333;
    padding: 5px 0px;
    border: 1px solid #C3C3C3;
    border-radius: 3px;
    box-shadow: none;
}

.editor_footer_paragraph {
    margin: 0px 50px 30px;
}

#editor_addToCart
{
    background-color: #019ee1;
    color: #FFF;
    padding: 5px 0px;
    border: 1px solid #C3C3C3;
    border-radius: 3px;
    box-shadow: none;
}

@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat/Montserrat-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: "Montserrat";
    src: url("font/Montserrat/Montserrat-Bold.ttf");
    font-weight: bold;
}